.container {
  padding: 0 10px;

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;
    color: #191919;
  }

  @media screen and (min-width: 767px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 1365px) {
    padding: 0;
  }
}

.line {
  display: flex;
  height: 2px;
  width: 100%;
  background-color: #D1D1D1;

  @media screen and (min-width: 767px) {
    max-width: 325px;
  }
}

.content {
  padding: 15px 0;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;
      color: #666666;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #004071;
    }
  }

  @media screen and (min-width: 767px) {
    flex-direction: row;
    gap: 30px;

    div {
      flex-direction: column;
      height: 100%;
      max-width: 325px;

      img {
        width: 100%;
        max-height: 132px;
        object-fit: cover;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
  }
}