.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: inset 0px -1px 0px rgba(217, 217, 217, 0.498039), inset 0px 1px 0px rgba(217, 217, 217, 0.498039);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  gap: 10px;
  width: 100%;
  align-items: center;
  max-width: 1366px;
  background: rgba(0, 0, 0, 0.0001);

  @media screen and (min-width: 767px) {
    padding: 8px 16px;
  }

  @media screen and (min-width: 1365px) {
    gap: 20px;
  }
}

.info {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;

  > span {
    display: none;
  }

  form {
    @media (pointer: fine) {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1365px) {
    justify-content: flex-start;

    > span {
      display: block;
      font-size: 26px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 0px;
      text-align: left;
      color: #666666;
    }
  }
}

.search {
  display: none;

  @media screen and (min-width: 1365px) {
    display: flex;
    padding: 12px;
    border: 1px solid #ECECEC;
    background-color: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #D9D9D97F;

    img {
      height: 16px;
      width: 16px;
    }
  }
}

.logo {
  height: 20px;

  @media screen and (min-width: 1365px) {
    height: 25px;
  }
}

.signIt {
  display: flex;
  gap: 15px;

  img {
    display: none;
  }

  span {
    display: none;
  }

  @media screen and (min-width: 1365px) {
    img {
      display: block;
    }

    span {
      display: inline-flex;
      width: 1px;
      height: 38px;
      background-color: #D8D8D8;
    }
  }
}

.signItButton {
  background-color: #F7941D;
  padding: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  border: none;

  @media (pointer: fine) {
    cursor: pointer;
  }

  @media screen and (min-width: 1365px) {
    line-height: 16px;
    padding: 12px 12px;
    height: 100%;
  }
}

.whatsButton {
  display: none;

  @media (pointer: fine) {
    cursor: pointer;
  }

  @media screen and (min-width: 1365px) {
    padding: 10px;
    display: block;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    background-color: #FAFAFA;
  }
}