.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex:1;

  @media screen and (min-width: 767px) {
    gap: 20px;
  }

  @media screen and (min-width: 1365px) {
    gap: 30px;
  }
}

.content {
  display: flex;
  gap: 30px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex:1;

  @media screen and (min-width: 767px) {
    max-width: 766px;
  }

  @media screen and (min-width: 1365px) {
    gap: 30px; 
  }
}

.rightSide {
  display: none;

  @media screen and (min-width: 1365px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 310px;
  }
}