.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 5px;

  > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    color: #004071;
  }

  h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }
}