.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #F7F7F7;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding: 6px 10px 10px;
  width: 100%;

  h3 {
    text-transform: uppercase;
    color: #191919;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }

  p {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    color: #9B9B9B;
  }

  @media screen and (min-width: 767px) {
    padding: 10px 20px;
  }

  @media screen and (min-width: 1366px) {
    padding: 10px 30px;
  }
}

.signIt {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 40px;

  input {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #333;
    height: 100%;
    padding: 10px 12px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    text-transform: uppercase;

    ::placeholder {
      color: #888888;
    }
  }

  button {
    background-color: #ED7D00;
    padding: 12px 18px;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    min-width: 120px;
  }
}