.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 15px 0 ;

  img {
    max-width: 400px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #191919;
  }
}