.container {
  display: flex;
  flex-direction: column;
  top: 48px;
  border-top: 5px solid #D1D1D1;

  h2 {
    margin: 15px 0 10px;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    color: #191919;
  }

  ul {
    display: flex;
    flex-direction: column;

    :first-child {
      border-top: none;
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #D8D8D8;
  padding: 10px 0;

  time {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color:#666666;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #004071;

    img {
      height: 15px;
    }
  }
}