.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    color: #191919;
  }

  span {
    height: 1px;
    width: 150px;
    background-color: #D8D8D8;
  }
}

.googleNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  p {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #767676;
    text-transform: uppercase;
  }

  img {
    width: 135px;
  }
}