.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 5px;
  gap: 10px;

  img {
    height: 600px;
    width: 300px;
  }

  span {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #191919;
  }
}