.container {
  padding: 0 10px;

  h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
  }
}