.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

.columnist {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }

  img {
    color: #C2D1D9;
    height: 24px;
    width: 24px;
  }

  .columnistInfo {
    display: flex;
    gap: 15px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .columnistImage {
      height: 80px;
      width: 80px;
    }
  }

  .columnistMode {
    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: left;
      margin-top: 10px;
    }

    span {
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: center;
      padding: 5px 20px;
      background-color: #004071;
      color: #FFFFFF;
      border-radius: 4px;
      text-transform: uppercase;
    }
  }

  .postDate {
    display: flex;
    gap: 5px;
    align-items: center;

    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #363636;
    }
  }

  .socialMedia {
    display: flex;
    gap: 35px;
    align-items: center;
  
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: center;
      padding: 8px 12px;
      background: #EAEAEA;
      border-radius: 4px;
      border: none;
      text-transform: uppercase;

      img {
        height: 15px;
        width: 70px;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  div {
    display: flex;
    gap: 10px;

    img {
      margin-bottom: auto;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        color: #191919;
      }

      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: #777777;
      }
    }
  }
}

.audio {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  border-radius: 6px;

  button {
    border: none;
    background: none;
    height: 34px;
    width: 34px;

  }

  span {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }

  span:last-of-type {
    color:#9B9B9B;
  }

  :last-child {
    margin-left: auto;
  }
}

.article {
  p {
    font-size: 16px;    
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }
}